src/main/resources/wsdl/BillManage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--This Xml Schema was auto-generated by the "SchemaLightener".--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ejada.com" targetNamespace="http://www.ejada.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:element name="BillManageRq" type="BillManageRq_Type"/>
   <xsd:element name="BillManageRs" type="BillManageRs_Type"/>
   <xsd:element name="BillInfo" type="BillInfo_Type"/>
   <xsd:element name="BillList" type="BillList_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">List of Bills</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="DescAr" type="Desc_Type"/>
   <xsd:element name="DescEn" type="Desc_Type"/>
   <xsd:element name="BillCategory" type="BillCategory_Type"/>
   <xsd:element name="BillStatus" type="BillStatus_Type"/>
   <xsd:element name="BillCycle" type="BillCycle_Type"/>
   <xsd:element name="BillRefInfo" type="BillRefInfo_Type"/>
   <xsd:element name="Remarks" type="Desc_Type"/>
   <xsd:element name="UpdateDt" type="Date"/>
   <xsd:element name="CreateDt" type="Date"></xsd:element>
   <xsd:element name="RejectionDt" type="Date"/>
   <xsd:element name="BenAcctInfo" type="BenAcctInfo_type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Benficiary Account Information</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="ResponseStatus" type="ResponseStatus_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Response Status</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="POINum" type="POINum_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Id Number</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="POIType" type="POIType_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">POI Type</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="Amt" type="Amt_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Amount</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="ClientDt" type="DateTime">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Client timestamp</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="EchoData" type="EchoData_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Echo back field, the value in it will be echoed back in message response header</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="FuncId" type="FuncId_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Function identifier</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="MsgRecDt" type="DateTime">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Service provider processing timestamp</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="MsgRqHdr" type="MsgRqHdr_Type"/>
   <xsd:element name="MsgRsHdr" type="MsgRsHdr_Type"/>
   <xsd:element name="OverrideStatus" type="OverrideStatus_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Override Status aggregate</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="PartyIdNum" type="PartyIdNum_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Party identifier</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="PartyIdType" type="PartyIdType_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Party identifier Type</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="RqMode" type="RqMode_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Reversal options</xsd:documentation>
			      <xsd:documentation source="LOV">0: Normal request(Default)
Greater than 0: Repeated request
-1: Reversal request
Less than -1: Repeated reversal request</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="RqUID" type="RqUID_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Universally unique identifier for the request message</xsd:documentation>
			      <xsd:documentation source="LOV">SCId||Date(DDMMYYYY)||(Sequence)#######
Example: IB190520081000001
			</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="SCId" type="SCId_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Service consumer identifier</xsd:documentation>
			      <xsd:documentation source="LOV"/>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="SPRefNum" type="SPRefNum_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Service provider reference number</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="StatusCode" type="StatusCode_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Response status code</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="RejectionReason" type="Desc_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Rejection Reason</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="StatusDesc" type="StatusDesc_Type"/>
   <xsd:element name="Version" type="Version_Type"/>
   <xsd:element name="UserId" type="UserId_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">User identifier</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="ProcessUID" type="ProcessUID_Type"/>
   <xsd:element name="ProxyUserId" type="UserId_Type"/>
   <xsd:element name="ServiceId" type="ServiceId_Type"/>
   <xsd:element name="SessionId" type="SessionId_Type"/>
   <xsd:element name="AgencyId" type="AgencyId_Type"/>
   <xsd:element name="PartyId" type="PartyId_Type">
		    <xsd:annotation>
			      <xsd:documentation>Party Identification</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BankBranchId" type="BankBranchId_Type">
		    <xsd:annotation>
			      <xsd:documentation>Bank</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="PreferContactFlag" type="Flg_Type"/>
   <xsd:element name="GFSCode">
		    <xsd:annotation>
			      <xsd:documentation>GFS Code</xsd:documentation>
		    </xsd:annotation>
		    <xsd:simpleType>
			      <xsd:restriction base="C">
				        <xsd:maxLength value="20"/>
			      </xsd:restriction>
		    </xsd:simpleType>
	  </xsd:element>
   <xsd:element name="ChapterNum" type="ChapterNum_Type"/>
   <xsd:element name="Email" type="EmailAddr_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Email address</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="FaxNum">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Recipient Fax number, required if Fax notification is activated</xsd:documentation>
		    </xsd:annotation>
		    <xsd:simpleType>
			      <xsd:restriction base="FaxNum_Type">
				        <xsd:maxLength value="20"/>
			      </xsd:restriction>
		    </xsd:simpleType>
	  </xsd:element>
   <xsd:element name="FullNameAr" type="FullName_Type"/>
   <xsd:element name="FullName" type="FullName_Type"/>
   <xsd:element name="HomePhone" type="PhoneNum_Type"/>
   <xsd:element name="HomePhoneExtension" type="PhoneExtension_Type"/>
   <xsd:element name="MobileNum" type="MobileNum_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Recipient mobile telephone, required if SMS notification is activated</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="Pager" type="PhoneNum_Type"/>
   <xsd:element name="PreferLang" type="LangCode_Type"/>
   <xsd:element name="BillerContactsInfo" type="BillerContactsInfo_Type">
		    <xsd:annotation>
			      <xsd:documentation>Biller Contacts Information</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BillMetadata" type="ParamList_Type"/>
   <xsd:element name="BillerId" type="BillerId_Type">
		    <xsd:annotation>
			      <xsd:documentation>Biller Id</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BillingAcct" type="AcctNum_Type">
		    <xsd:annotation>
			      <xsd:documentation>Billing Account</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BillDesc" type="BillDesc_Type">
		    <xsd:annotation>
			      <xsd:documentation>Bille Description</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BillRefNum" type="BillRefNum_Type">
		    <xsd:annotation>
			      <xsd:documentation>Bille Reference Number</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BillId" type="BillId_Type">
		    <xsd:annotation>
			      <xsd:documentation>Bill Identifier</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="WorkPhone" type="PhoneNum_Type"/>
   <xsd:element name="WorkPhoneExtension" type="PhoneExtension_Type"/>
   <xsd:element name="SectionId" type="EntityId_Type"/>
   <xsd:element name="BillDueDt" type="DateTime"/>
   <xsd:element name="BillExpiryDt" type="DateTime"/>
   <xsd:element name="CustomerInfo" type="CustomerInfo_Type"/>
   <xsd:element name="ParamItem" type="ParamItem_Type"/>
   <xsd:element name="ParamCd" type="ParamCd_Type"/>
   <xsd:element name="ParamVal" type="ParamVal_Type"/>
   <xsd:element name="DateTime" type="DateTime"/>
   <xsd:element name="SequenceNumber" type="SequenceNumber_Type"/>
   <xsd:element name="NumOfSubSections" type="NumOf_Type"/>
   <xsd:element name="NumOfSubDepartments" type="NumOf_Type"/>
   <xsd:element name="BenName" type="Name_Type"/>
   <xsd:element name="BenPOI" type="POI_Type"/>
   <xsd:element name="MinPartialPmtAmt" type="Amt_Type"/>
   <xsd:element name="MinAdvancePmtAmt" type="Amt_Type"/>
   <xsd:element name="MaxAdvancePmtAmt" type="Amt_Type"/>
   <xsd:element name="PmtOptions" type="PmtOptions_Type"/>
   <xsd:element name="BenInfo" type="BenInfo_Type"/>
   <xsd:element name="BillSummList" type="BillSummList_Type"/>
   <xsd:element name="BatchId" type="BatchId_Type"/>
   <xsd:element name="BillNum" type="BillNum_Type"/>
   <xsd:element name="BillAction" type="BillAction_Type"/>
   <xsd:element name="ActionReason" type="ActionReason_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Action Reason</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="DisplayLabelAr">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Display Label Arabic</xsd:documentation>
		    </xsd:annotation>
		    <xsd:simpleType>
			      <xsd:restriction base="Desc_Type">
				        <xsd:maxLength value="255"/>
			      </xsd:restriction>
		    </xsd:simpleType>
	  </xsd:element>
   <xsd:element name="DisplayLabelEn">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Display Label English</xsd:documentation>
		    </xsd:annotation>
		    <xsd:simpleType>
			      <xsd:restriction base="Desc_Type">
				        <xsd:maxLength value="255"/>
			      </xsd:restriction>
		    </xsd:simpleType>
	  </xsd:element>
   <xsd:element name="RevenueEntryList" type="RevenueEntryList_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Revenue Entries List</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="RevenueEntryInfo" type="RevenueEntryInfo_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Revenue Entry Information</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:element name="BenAgencyId" type="BenAgencyId_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Beneficiary Agency Id</xsd:documentation>
			      <xsd:documentation source="LOV">17 Digit Agency ID</xsd:documentation>
		    </xsd:annotation>
	  </xsd:element>
   <xsd:simpleType name="SequenceNumber_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="40"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AcctNum_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="28"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Amt_Type">
		    <xsd:restriction base="Decimal">
			      <xsd:totalDigits value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="C">
		    <xsd:annotation>
			      <xsd:documentation>Character indicates an element that allows character data up to a maximum number of characters, regardless of the number of bytes required to represent each character</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Date">
		    <xsd:restriction base="xsd:date"/>
	  </xsd:simpleType>
   <xsd:simpleType name="DateTime">
		    <xsd:restriction base="xsd:string">
			      <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Decimal">
		    <xsd:annotation>
			      <xsd:documentation>Decimal indicates a numeric value that meets the following rules:</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:decimal"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Desc_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="1024"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="EchoData_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="1024"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="FuncId_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="8"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Identifier_Type">
		    <xsd:annotation>
			      <xsd:documentation>Object identifiers in the IFX Specification are of the data type "Identifier."  This is a Narrow Character data type with a maximum length of 36.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="36"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Integer">
		    <xsd:restriction base="xsd:integer"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Long">
		    <xsd:annotation>
			      <xsd:documentation>Long is an integer value, which may be positive, negative, or zero, with values ranging from -2147483648 to 2147483647.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:long"/>
	  </xsd:simpleType>
   <xsd:simpleType name="NC">
		    <xsd:annotation>
			      <xsd:documentation>Elements of type Narrow Character are elements of character data type with the additional restriction that the only allowable characters are those contained within the ISO Latin-1 character set (http://www.htmlhelp.com/reference/charset/). </xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Number_Type">
		    <xsd:restriction base="Integer">
			      <xsd:totalDigits value="30"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="OverrideCode_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="OverrideDesc_Type">
		    <xsd:restriction base="Desc_Type">
			      <xsd:maxLength value="80"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="RqMode_Type">
		    <xsd:restriction base="Long"/>
	  </xsd:simpleType>
   <xsd:simpleType name="RqUID_Type">
		    <xsd:restriction base="Identifier_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="SCId_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="SPRefNum_Type">
		    <xsd:annotation>
			      <xsd:documentation>Suggetion: RefNum_Type C-20 and SP, Trn based on it</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="C">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="StatusCode_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="32"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="StatusDesc_Type">
		    <xsd:restriction base="Desc_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Version_Type">
		    <xsd:annotation>
			      <xsd:documentation source="DES">Service consumer interface version </xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="10"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="UserId_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="36"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ProcessUID_Type">
		    <xsd:restriction base="Identifier_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="ServiceId_Type">
		    <xsd:restriction base="Identifier_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="SessionId_Type">
		    <xsd:restriction base="Identifier_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyIdNum_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="30"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PartyIdType_Type">
		    <xsd:restriction base="ClosedEnum">
			      <xsd:enumeration value="IqamaNumber"/>
			      <xsd:enumeration value="NationalId"/>
			      <xsd:enumeration value="CommercialRegistration"/>
			      <xsd:enumeration value="700Code"/>
			      <xsd:enumeration value="AccountNumber"/>
			      <xsd:enumeration value="FamilyCardNumber"/>
			      <xsd:enumeration value="BorderNumber"/>
			      <xsd:enumeration value="PassportNumber"/>
			      <xsd:enumeration value="AgencyId"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="AgencyId_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="15"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BankBranchId_Type">
		    <xsd:annotation>
			      <xsd:documentation>Restricted to C-22</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="22"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ChapterNum_Type">
		    <xsd:restriction base="Number_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="Boolean">
		    <xsd:annotation>
			      <xsd:documentation>Boolean indicates a logical True or False condition.</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="Y"/>
			      <xsd:enumeration value="N"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ClosedEnum">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="80"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="EmailAddr_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="48"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="FaxNum_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="40"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Flg_Type">
		    <xsd:restriction base="Boolean"/>
	  </xsd:simpleType>
   <xsd:simpleType name="FullName_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="256"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="LangCode_Type">
		    <xsd:annotation>
			      <xsd:documentation>Language Code ISO 2 char</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="ClosedEnum">
			      <xsd:maxLength value="2"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="MobileNum_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="22"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="Name_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="500"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PhoneExtension_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="10"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="PhoneNum_Type">
		    <xsd:restriction base="NC">
			      <xsd:maxLength value="32"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="NumOf_Type">
		    <xsd:restriction base="Integer">
			      <xsd:totalDigits value="10"/>
			      <xsd:minInclusive value="0"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="EntityId_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="50"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ParamCd_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="36"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ParamVal_Type">
		    <xsd:restriction base="C"/>
	  </xsd:simpleType>
   <xsd:simpleType name="BillId_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="15"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillerId_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="20"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillDesc_Type">
		    <xsd:restriction base="Desc_Type">
		</xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillRefNum_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="36"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="TahseelAgencyId_Type">
		    <xsd:restriction base="C">
			      <xsd:minLength value="18"/>
			      <xsd:maxLength value="18"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="POINum_Type">
		    <xsd:restriction base="Identifier_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="POIType_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="4"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillCategory_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="12"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillStatus_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="12"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillCycle_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="12"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillRefInfo_Type">
		    <xsd:restriction base="Desc_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="BatchId_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="15"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillNum_Type">
		    <xsd:restriction base="Identifier_Type">
			      <xsd:maxLength value="32"/>
			      <xsd:minLength value="6"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillAction_Type">
		    <xsd:annotation>
			      <xsd:documentation>Bill Action
			'I': Initiate Bill record, no corresponding bill exists in eCollection system.
'U': Update bill which is currently in eCollection system.
'E': Expire the specified bill.
			</xsd:documentation>
		    </xsd:annotation>
		    <xsd:restriction base="ClosedEnum">
			      <xsd:enumeration value="I"/>
			      <xsd:enumeration value="U"/>
			      <xsd:enumeration value="E"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="ActionReason_Type">
		    <xsd:restriction base="Desc_Type"/>
	  </xsd:simpleType>
   <xsd:simpleType name="BenAgencyId_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="18"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:simpleType name="BillIIBAN_Type">
		    <xsd:restriction base="C">
			      <xsd:maxLength value="50"/>
		    </xsd:restriction>
	  </xsd:simpleType>
   <xsd:complexType name="BillManageRq_Type">
		    <xsd:sequence>
			      <xsd:element ref="MsgRqHdr"/>
			      <xsd:element name="Body" type="BillManageRqBody_Type"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillManageRs_Type">
		    <xsd:sequence>
			      <xsd:element ref="MsgRsHdr"/>
			      <xsd:element name="Body" type="BillManageRsBody_Type" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillManageRqBody_Type">
		    <xsd:sequence>
			      <xsd:element ref="BatchId" minOccurs="0"/>
			      <xsd:element ref="BillList"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillList_Type">
		    <xsd:sequence>
			      <xsd:element ref="BillInfo" maxOccurs="unbounded"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillInfo_Type">
		    <xsd:complexContent>
			      <xsd:restriction base="BillRec_Type">
				        <xsd:sequence>
					          <xsd:element name="AgencyId" type="TahseelAgencyId_Type" minOccurs="0"/>
					          <xsd:element ref="BillDesc" minOccurs="0"/>
					          <xsd:element ref="BillCategory" minOccurs="0"/>
					          <xsd:element ref="BillingAcct"/>
					          <xsd:element ref="BillCycle" minOccurs="0"/>
					          <xsd:element ref="Amt"/>
					          <xsd:element ref="BillAction" minOccurs="0"/>
					          <xsd:element ref="ActionReason" minOccurs="0"/>
					          <xsd:element ref="DisplayLabelAr" minOccurs="0"/>
					          <xsd:element ref="DisplayLabelEn" minOccurs="0"/>
					          <xsd:element ref="BillDueDt"/>
					          <xsd:element ref="BillExpiryDt" minOccurs="0"/>
					          <xsd:element ref="BillRefInfo" minOccurs="0"/>
					          <xsd:element ref="PmtOptions" minOccurs="0"/>
					          <xsd:element ref="BenInfo" minOccurs="0"/>
					          <xsd:element ref="RevenueEntryList" minOccurs="0"/>
					          <xsd:element ref="BenAcctInfo" minOccurs="0"/>
				        </xsd:sequence>
			      </xsd:restriction>
		    </xsd:complexContent>
	  </xsd:complexType>
   <xsd:complexType name="BillManageRsBody_Type">
		    <xsd:sequence>
			      <xsd:element name="IBAN" type="BillIIBAN_Type" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="MsgRqHdr_Type">
		    <xsd:sequence>
			      <xsd:element ref="RqUID"/>
			      <xsd:element ref="ProcessUID" minOccurs="0"/>
			      <xsd:element ref="SessionId" minOccurs="0"/>
			      <xsd:element ref="SCId"/>
			      <xsd:element ref="ServiceId"/>
			      <xsd:element ref="FuncId"/>
			      <xsd:element ref="RqMode" minOccurs="0"/>
			      <xsd:element ref="PartyId" minOccurs="0"/>
			      <xsd:element ref="UserId" minOccurs="0"/>
			      <xsd:element ref="ProxyUserId" minOccurs="0"/>
			      <xsd:element ref="ClientDt" minOccurs="0"/>
			      <xsd:element ref="EchoData" minOccurs="0"/>
			      <xsd:element ref="Version" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="MsgRsHdr_Type">
		    <xsd:sequence>
			      <xsd:element ref="RqUID" minOccurs="0"/>
			      <xsd:element ref="ProcessUID" minOccurs="0"/>
			      <xsd:element ref="SessionId" minOccurs="0"/>
			      <xsd:element ref="SPRefNum" minOccurs="0"/>
			      <xsd:element ref="MsgRecDt" minOccurs="0"/>
			      <xsd:element ref="OverrideStatus" minOccurs="0"/>
			      <xsd:element ref="ResponseStatus"/>
			      <xsd:element ref="EchoData" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="OverrideStatus_Type">
		    <xsd:sequence>
			      <xsd:element name="Code" type="OverrideCode_Type">
				        <xsd:annotation>
					          <xsd:documentation source="DES">Override code</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="Desc" type="OverrideDesc_Type">
				        <xsd:annotation>
					          <xsd:documentation source="DES">Override description</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ContactInfo_Type">
		    <xsd:sequence>
			      <xsd:element ref="PreferLang" minOccurs="0"/>
			      <xsd:sequence minOccurs="0">
				        <xsd:element ref="HomePhone" minOccurs="0"/>
				        <xsd:element ref="HomePhoneExtension" minOccurs="0"/>
			      </xsd:sequence>
			      <xsd:sequence minOccurs="0">
				        <xsd:element ref="WorkPhone" minOccurs="0"/>
				        <xsd:element ref="WorkPhoneExtension" minOccurs="0"/>
			      </xsd:sequence>
			      <xsd:element ref="MobileNum" minOccurs="0"/>
			      <xsd:element ref="Email" minOccurs="0"/>
			      <xsd:element ref="FaxNum" minOccurs="0"/>
			      <xsd:element ref="Pager" minOccurs="0"/>
			      <xsd:element ref="PreferContactFlag" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="PartyId_Type">
		    <xsd:sequence>
			      <xsd:element ref="PartyIdNum" minOccurs="0"/>
			      <xsd:element ref="PartyIdType" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ResponseStatus_Type">
		    <xsd:sequence>
			      <xsd:element ref="StatusCode"/>
			      <xsd:element ref="StatusDesc" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ParamList_Type">
		    <xsd:sequence>
			      <xsd:element ref="ParamItem" maxOccurs="unbounded"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="ParamItem_Type">
		    <xsd:sequence>
			      <xsd:element ref="ParamCd"/>
			      <xsd:element ref="ParamVal"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillRec_Type">
		    <xsd:sequence>
			      <xsd:element ref="BillNum" minOccurs="0"/>
			      <xsd:element name="AgencyId" type="TahseelAgencyId_Type" minOccurs="0"/>
			      <xsd:element ref="BillId" minOccurs="0"/>
			      <xsd:element ref="BillDesc" minOccurs="0"/>
			      <xsd:element ref="BillRefNum" minOccurs="0"/>
			      <xsd:element ref="BillCategory" minOccurs="0"/>
			      <xsd:element ref="BillStatus" minOccurs="0"/>
			      <xsd:element ref="RejectionReason" minOccurs="0"/>
			      <xsd:element ref="BillingAcct" minOccurs="0"/>
			      <xsd:element ref="BillCycle" minOccurs="0"/>
			      <xsd:element ref="Amt" minOccurs="0"/>
			      <xsd:element ref="BillAction" minOccurs="0"/>
			      <xsd:element ref="ActionReason" minOccurs="0"/>
			      <xsd:element ref="DisplayLabelAr" minOccurs="0"/>
			      <xsd:element ref="DisplayLabelEn" minOccurs="0"/>
			      <xsd:element ref="BillDueDt" minOccurs="0"/>
			      <xsd:element ref="BillExpiryDt" minOccurs="0"/>
			      <xsd:element ref="CustomerInfo" minOccurs="0"/>
			      <xsd:element ref="BillRefInfo" minOccurs="0"/>
			      <xsd:element ref="PmtOptions" minOccurs="0"/>
			      <xsd:element ref="BillSummList" minOccurs="0"/>
			      <xsd:element ref="BenInfo" minOccurs="0"/>
			      <xsd:element ref="RevenueEntryList" minOccurs="0"/>
			      <xsd:element ref="BenAcctInfo" minOccurs="0"/>
			      <xsd:element ref="BillerId" minOccurs="0"/>
			      <xsd:element ref="BillerContactsInfo" minOccurs="0"/>
			      <xsd:element ref="PreferLang" minOccurs="0"/>
			      <xsd:element ref="Remarks" minOccurs="0"/>
			      <xsd:element ref="BillMetadata" minOccurs="0"/>
			      <xsd:element ref="CreateDt" minOccurs="0"/>
			      <xsd:element ref="UpdateDt" minOccurs="0"/>
			      <xsd:element ref="RejectionDt" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BenInfo_Type">
		    <xsd:sequence>
			      <xsd:element ref="BenPOI" minOccurs="0"/>
			      <xsd:element ref="BenName" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="PmtOptions_Type">
		    <xsd:sequence>
			      <xsd:element ref="MinPartialPmtAmt" minOccurs="0"/>
			      <xsd:element ref="MinAdvancePmtAmt" minOccurs="0"/>
			      <xsd:element ref="MaxAdvancePmtAmt" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="CustomerInfo_Type">
		    <xsd:sequence>
			      <xsd:element ref="FullName" minOccurs="0"/>
			      <xsd:element ref="FullNameAr"/>
			      <xsd:element ref="POINum" minOccurs="0"/>
			      <xsd:element ref="POIType" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillerContactsInfo_Type">
		    <xsd:complexContent>
			      <xsd:restriction base="ContactInfo_Type">
				        <xsd:sequence>
					          <xsd:element ref="MobileNum" minOccurs="0"/>
					          <xsd:element ref="Email" minOccurs="0"/>
				        </xsd:sequence>
			      </xsd:restriction>
		    </xsd:complexContent>
	  </xsd:complexType>
   <xsd:complexType name="POI_Type">
		    <xsd:sequence>
			      <xsd:element ref="POINum"/>
			      <xsd:element ref="POIType" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="AcctDtls_type">
		    <xsd:sequence>
			      <xsd:element ref="AgencyId" minOccurs="0"/>
			      <xsd:element ref="ChapterNum" minOccurs="0"/>
			      <xsd:element ref="BankBranchId" minOccurs="0"/>
			      <xsd:element ref="SectionId" minOccurs="0"/>
			      <xsd:element ref="SequenceNumber" minOccurs="0"/>
			      <xsd:element ref="NumOfSubDepartments" minOccurs="0"/>
			      <xsd:element ref="NumOfSubSections" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillSummList_Type">
		    <xsd:sequence>
			      <xsd:element name="BillSummInfo" type="BillSummInfo_Type" maxOccurs="unbounded"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BillSummInfo_Type">
		    <xsd:sequence>
			      <xsd:element ref="Amt" minOccurs="0"/>
			      <xsd:element ref="DescAr" minOccurs="0"/>
			      <xsd:element ref="DescEn" minOccurs="0"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="RevenueEntryInfo_Type">
		    <xsd:sequence>
			      <xsd:element ref="BenAgencyId"/>
			      <xsd:element ref="GFSCode"/>
			      <xsd:element ref="Amt"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="RevenueEntryList_Type">
		    <xsd:sequence>
			      <xsd:element ref="RevenueEntryInfo" maxOccurs="unbounded"/>
		    </xsd:sequence>
	  </xsd:complexType>
   <xsd:complexType name="BenAcctInfo_type">
		    <xsd:complexContent>
			      <xsd:restriction base="AcctDtls_type">
				        <xsd:sequence>
					          <xsd:element ref="ChapterNum" minOccurs="0"/>
					          <xsd:element ref="BankBranchId" minOccurs="0"/>
					          <xsd:element ref="SectionId" minOccurs="0"/>
					          <xsd:element ref="SequenceNumber" minOccurs="0"/>
					          <xsd:element ref="NumOfSubDepartments" minOccurs="0"/>
					          <xsd:element ref="NumOfSubSections" minOccurs="0"/>
				        </xsd:sequence>
			      </xsd:restriction>
		    </xsd:complexContent>
	  </xsd:complexType>
</xsd:schema>
